.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wave {
  position: fixed;
  top: 50%;
  display: flex;
  align-items: center;
  gap: 6px;
}

.bar {
  width: 12px;
  border-radius: 999px;

  background: linear-gradient(
    136deg,
    #bce8ff 0%,
    rgba(218, 244, 255, 0.94) 48.56%,
    rgba(191, 216, 255, 0.89) 78.37%,
    rgba(164, 188, 255, 0.85) 100%
  );
  box-shadow: 0 8px 16px rgba(56, 189, 248, 0.35);

  transform-origin: center;
  animation: waveMove 1.4s ease-in-out infinite;
  opacity: 0;
}

.bar1,
.bar9 {
  height: 15px;
}
.bar2,
.bar5 {
  height: 49px;
}
.bar3 {
  height: 89px;
}
.bar4 {
  height: 33px;
}
.bar6 {
  height: 85px;
}
.bar7 {
  height: 81px;
}
.bar8 {
  height: 29px;
}
.bar1 {
  animation-delay: 0s;
}
.bar2 {
  animation-delay: 0.07s;
}
.bar3 {
  animation-delay: 0.14s;
}
.bar4 {
  animation-delay: 0.21s;
}
.bar5 {
  animation-delay: 0.28s;
}
.bar6 {
  animation-delay: 0.35s;
}
.bar7 {
  animation-delay: 0.42s;
}
.bar8 {
  animation-delay: 0.49s;
}
.bar9 {
  animation-delay: 0.56s;
}

@keyframes waveMove {
  0% {
    transform: scaleY(0.3);
    opacity: 0;
  }
  20% {
    transform: scaleY(0.6);
    opacity: 0.5;
  }
  40% {
    transform: scaleY(1);
    opacity: 1;
  }
  70% {
    transform: scaleY(0.8);
    opacity: 0.7;
  }
  100% {
    transform: scaleY(0.3);
    opacity: 0;
  }
}
