.header {
  padding: 24px 108px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 50;
  margin-bottom: 50px;
  background: transparent;
}

.header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 2px;

  background: rgba(196, 192, 192, 0.4);
}

.badge {
  display: flex;
  align-items: center;
  gap: 8px;

  border-radius: 8px;
  fill: rgba(255, 255, 255, 0.5);
  padding: 10px 18px;

  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.06);

  font-size: 14px;
  font-weight: 500;
}

.nav {
  display: flex;
  gap: 0 5px;

  padding: 6px 12px;
  border-radius: 999px;
  z-index: 50;

  background: radial-gradient(
    circle at 60% 40%,
    rgba(118, 94, 255, 0.65) 0%,
    rgba(66, 61, 178, 0.75) 35%,
    rgba(28, 27, 64, 0.9) 75%,
    rgba(5, 5, 9, 1) 100%
  );
  -webkit-backdrop-filter: blur(22px);
  backdrop-filter: blur(22px);
}

.link {
  font-size: 14px;
  font-weight: 500;
  color: #e5e7eb;
  text-decoration: none;
  padding: 6px 12px;
  border-radius: 999px;

  transition: background 0.25s ease, color 0.25s ease;
}

.link:hover {
  background: #b6a8ff;
  color: #0f172a;
}
